.wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "sidebar map";
	width: 100vw;
	height: 100vh;
	width: 100dvw;
	height: 100dvh;
}

.sidebar {
	grid-area: sidebar;
	min-width: 20ch;
	max-width: 80ch;
}

.map {
	grid-area: map;
	cursor: default;
	outline: none;
}

.map:active {
	cursor: grabbing;
}

.vehicle {
	background: none;
}
